.containerContent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 5px;
    height: auto;
    grid-gap: 10px;
}

.dialogsElement {
    grid-column: 1;
    background: #fff;
    border-radius: 5px;
    height: max-content;
    padding-bottom: 10px;
}

.dialogsElement a {
    color: #fff;
}

.dialogsElement img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.messagesElement {
    grid-column: 2;
    background: #fff;
    padding: 10px;
    min-height: 600px;
    max-height: max-content;
    overflow-y:scroll;
    position:relative;
    height: 500px;
    width: 600px;
}

.dialogsElement h2 {
    color: #fff;
    font-size: 22px;
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.messageAdd {
    grid-column: 2;
}



.textarea {
    display: block;
    grid-column: 1;
    height: 40px;
    resize: none;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.button {
    grid-column: 2;
    display: block;
    margin-right: auto;
    background: #24aa98;
    color: #fff;
    height: 40px;
    cursor: pointer;
    border: 0px;
    border-radius: 7px;
    width: 80px;
    margin-left: 10px;
    align-self: center;
    margin-bottom: 10px;
}

.title {
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: #fff;
    background: #24aa98;
    border-radius: 5px;
}

.newMessage {
    display: grid;
    grid-template-columns:1fr;
}








