.mainGridPost {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.mainPost {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    border-bottom: 1px solid;
    border-color: #dee2e7;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    margin-bottom: 10px;
}


.myPhoto {
    grid-column: 1;
    grid-row: 1/4;
    width: 50px;
    height: 50px;
    margin-right: 25px;
    border-radius: 25px;
}

.buttons {
    grid-column: 2/3;
    justify-self: left;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    color: #000;
}

.message {
    grid-column: 2/4;
    grid-row: 3;
    justify-self: left;
    text-align: left;
    color: #bdbec1;
    margin-bottom: 10px;
    margin-top: 10px;
}

.myName {
    grid-column: 2;
    grid-row: 1;
    color: #000;
    margin-right: auto;
    font-weight: 600;
    margin-bottom: 3px;
}

.like {
    margin-right: 10px;
    margin-left: 5px;
    border: 0;
    width: 60px;
    cursor: pointer;
    background: url("./../../../../img/LikeIcon.png") no-repeat left;
}

.comments {
    margin-right: 10px;
    margin-left: 5px;
    border: 0;
    width: 100px;
    cursor: pointer;
    background: url("./../../../../img/CommentIcon.png") no-repeat left;
}

.share {
    margin-right: 10px;
    margin-left: 5px;
    border: 0;
    width: 70px;
    cursor: pointer;
    background: url("./../../../../img/ShareIcon.png") no-repeat left;
}

.date {
    grid-column: 2/4;
    grid-row: 2;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    padding-right: 15px;
    align-self: center;
    color: #77bfe5;
}

.rePostTo {
    color: #24aa98;
    font-weight: 600;
    margin-left: 5px;
    font-size: 16px;
}

.rePostTo img {
    margin-right: 10px;
}

.attachment {
    grid-column: 2;

}


.attachmentContent {
    display: grid;
    grid-template-columns: 1fr
}

.frame {
    grid-column: 1;
    height: 315px;
    width: 480px;
    border: 0;
}

.attachmentContent img {
    width: max-content;
    height: max-content;
    max-width: 480px;
    max-height: 315px;
    object-fit: contain;


}

.commentsBlock {
    grid-column: 2/4;
    grid-row: 5;
    background-color: #fff;

}









