.containerContent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 5px;
    height: auto;
    justify-self: left;
}

.mypost {
    grid-column: 2;
    grid-template-columns: 1fr;
    /*background: #fff;*/
    margin-bottom: 10px;
}

.gridLeft {
    grid-column: 1;
    grid-row: 1/3;
    margin-right: 10px;
}















