.friends {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-self: left;
    padding-left: 10px;
    padding-top: 10px;
}

.friends img {
    grid-column: 1;
    grid-row: 1/3;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
}

.name {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
}

.status {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
}

.friends a {
    color: #000;
}

.friends a:hover {
    color: #24aa98;
    text-decoration: none;
}