.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #383737;
    margin-top: 15px;
    padding: 20px;
}

.social {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    grid-gap: 15px;
}


.facebook {
    grid-column: 1;
    background: #3162a2 url("./../../img/FacebookLogo.png") no-repeat center;
    width: 37px;
    height: 37px;
    border-radius: 50px;
    align-items: center;
}

.twitter {
    grid-column: 2;
    background: #2eb1eb url("./../../img/TwitterLogo.png") no-repeat center;
    width: 37px;
    height: 37px;
    border-radius: 50px;
}

.google {
    grid-column: 3;
    background: #f25c58 url("./../../img/Google.png") no-repeat center;
    width: 37px;
    height: 37px;
    border-radius: 50px;
}

.reserved {
    grid-row: 2;
    grid-column: 1/4;
    margin-top: 20px;
    margin-bottom: 20px;
}
